@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --control-background-rgb: 255, 255, 255;
  --selected-control-background-rgb: 230, 230, 230;
  --panel-background: 248, 250, 252; 
  --even-row-rgba: 238, 240, 242, 127;
  --odd-row-rgba: 0,0,0,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 42, 42, 42;
    --control-background-rgb: 0, 0, 0;
    --selected-control-background-rgb: 50, 50, 50;
    --panel-background: 31, 41, 55;
    --even-row-rgba: 41, 51, 65, 127; 
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
